:root {
  /*https://yeun.github.io/open-color/*/
  --accent: 224, 49, 49; /*RED*/
  --accent-light: 134, 142, 150; /*LIGHT-GREY*/
  --accent-dark: 128, 128, 128; /*GREY*/
  --accent-black: 0, 0, 0; /*BLACK*/
  --container-size: 960px;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent-dark)) 0%,
    rgb(var(--accent)),
    white 60%
  );
  --page-scale: 1;
  --container-size-xs: calc(33.75rem * var(--page-scale));
  --container-size-sm: calc(45rem * var(--page-scale));
  --container-size-md: calc(60rem * var(--page-scale));
  --container-size-lg: calc(71.25rem * var(--page-scale));
  --container-size-xl: calc(82.5rem * var(--page-scale));

  --container-margin-xs: clamp(0.5rem, calc(0.5rem + ((1vw - 0.48rem) * 2.5316)), 1rem);
  --container-margin-sm: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 2.5316)), 2.5rem);
  --container-margin-md: clamp(3rem, calc(3rem + ((1vw - 0.48rem) * 2.5316)), 4rem);
  --container-margin-lg: clamp(4rem, calc(4rem + ((1vw - 0.48rem) * 2.5316)), 5rem);
  --container-margin-xl: clamp(5rem, calc(5rem + ((1vw - 0.48rem) * 15.8228)), 11.25rem);

  --container-radius-default: calc(0.25rem * 1);
  --container-radius-lg: calc(1rem * 1);
  --container-radius-md: calc(0.5rem * 1);
  --container-radius-sm: calc(0.25rem * 1);
  --container-radius-xl: calc(2rem * 1);
  --container-radius-xs: calc(0.125rem * 1)

  --container-spacing-lg: calc(1.25rem * 1);
  --container-spacing-md: calc(1rem * 1);
  --container-spacing-sm: calc(0.75rem * 1);
  --container-spacing-xl: calc(2rem * 1);
  --container-spacing-xs: calc(0.625rem * 1);

  --font-size-sm: clamp(12px,calc(4.25rem + ((1vw - 7.68px) * 12.5)), 14px);
  --font-size-xl: clamp(68px,calc(4.25rem + ((1vw - 7.68px) * 12.5)), 120px);
  --font-size-xxl: clamp(68px,calc(4.25rem + ((1vw - 7.68px) * 12.5)), 120px);
}
html {
  font-family: system-ui, sans-serif;
  background: #13151a;
  background-size: 224px;
}
body {
  margin: 0;
  padding: 0;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
main {
  margin: auto;
  padding: 1rem;
  max-width: var(--container-size);
  color: white;
  font-size: 20px;
  line-height: 1.6;
}
h1 {
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
  /* margin-top: var(--container-size-lg); */
  margin-top: var(--container-margin-xl);
  margin-bottom: var(--container-margin-md);
  color: #FFF;
}
a {
  color: rgb(var(--accent));
}
a:visited {
  color: rgb(var(--accent-light));
}
p {
  padding: 0;
  margin: 0;
}
.text-center {
  text-align: center;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.intro-text {
  color: #868e96;
  text-align: center;
  font-size: 18px;
  max-width: calc(40rem * var(--page-scale));
  margin-inline: auto;
  margin-bottom: var(--container-margin-xl);
  line-height: 1.8rem;
  p + p {
    margin-top: var(--container-margin-xs);
  }
}
/* .instructions {
  margin-bottom: 2rem;
  border: 1px solid rgba(var(--accent-light), 25%);
  background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
  padding: 1.5rem;
  border-radius: 8px;
} */
.instructions code {
  font-size: 0.8em;
  font-weight: bold;
  background: rgba(var(--accent-light), 12%);
  color: rgb(var(--accent-light));
  border-radius: 4px;
  padding: 0.3em 0.4em;
}
.instructions strong {
  color: rgb(var(--accent-light));
}
.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 2rem;
  padding: 0;
}


.card-group {
  margin-bottom: var(--container-margin-lg);
  .foot-note {
    font-size: var(--font-size-sm);
    color: var(--accent-light);
  }
  .card-group-wrapper {
    background-image: linear-gradient( -60deg, rgb(var(--accent-black)) 0%, rgb(var(--accent)) 100% );
    padding: var(--container-spacing-xl);
    border-radius: var(--container-radius-md);
    margin-bottom: var(--container-margin-xs);  
    @media screen and (max-width: 767px) {
      div + div {
        padding-top: var(--container-spacing-xl);
        margin-top: var(--container-spacing-xl);
        border-top: calc(0.0625rem * var(--page-scale)) solid rgb(var(--accent-black));
      }
    }
    @media screen and (min-width: 768px) {
      display: flex;
      div + div {
        padding-left: var(--container-spacing-xl);
        margin-left: var(--container-spacing-xl);
        border-left: calc(0.0625rem * var(--page-scale)) solid rgb(var(--accent-black));
      }
    }
    p {
      padding: 0;
      margin: 0;
    }
    div {
      flex: 1;
    }
    .card-data {
      font-size: clamp(2rem, calc(2rem + ((1vw - 0.48rem) * 5.0633)), 3rem);
    }
    .card-title {
      font-size: clamp(1.2rem, calc(1.2rem + ((1vw - 0.48rem) * 0.5063)), 1.4rem);
    }
    .card-desc {
      font-size: 1rem;
    }
  
  }
}
.graph-wrapper {
  margin-bottom: var(--container-margin-lg);
}
.apexcharts-tooltip {
  background-color: #000000 !important;
  color: #ff6b6b !important;
  padding: 8px;
  .tooltip-title,
  .apexcharts-text.apexcharts-yaxis-label,
  .apexcharts-text.apexcharts-xaxis-label,
  .apexcharts-legend-series .apexcharts-legend-text {
    color: #FFFFFF !important;
  }  
}
.apexcharts-tooltip-title,
#chartContainer .apexcharts-tooltip {
  color: #000000 !important;
}

/* VIDEO PLAYER */
.video-wrapper {
  margin-bottom: var(--container-margin-lg);
}
video {
  width: 100%;
}

#playlist {
  .playlist-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x;
    gap: 14px;
    > div {
      scroll-snap-align: start;
      display: inline-block;
      border-radius: 3px;
      height: 150px;
      &:hover {
        cursor: pointer;
      }
      .thumbnail {
        height: 100px;
        width: 200px;
        overflow: hidden;
      }
      .video-details {
        > span {
          color: #ccc;
          font-size: 16px;
          margin: 0;
        }
        span + span {
          color: #FFF;
          font-size: 12px;
        }
      }
    }
  }
}