---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
// import EventData from '../components/EventData';
// import MyComponent from '../components/TestChart'
// import ColumnChart from '../components/GraphsCharts.astro';

import ChartComponent from '../components/ChartComponent'
---

<Layout title="North Livermore Cares">
	<main>
		<!-- <MyComponent client:only="react"/> -->
		<ChartComponent client:only="react"/>
		<!-- <ColumnChart /> -->
		<!-- <EventData client:only="react"/> -->
		<!-- <AllEvents client:only="react"/> -->
	</main>
	<footer>
		<p>Footer</p>
	</footer>
</Layout>

