---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import ColumnChart from '../components/GraphsCharts.astro';
import AllEvents from '../components/AllEvents';
import EventData from '../components/EventData';
---

<Layout title="North Livermore Cares">
	<main>
		<EventData client:only="react"/>
		<AllEvents client:only="react"/>
		<!-- <ColumnChart /> -->
		<!--HeatMapCalendar-->
	</main>
	<footer>
		<p>Footer</p>
	</footer>
</Layout>

