---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import type EventData from '../types/event.type';

const res = await fetch('http://localhost:4322/api/events/all');
const dataEvents: EventData[] = await res.json();

const hoursInDay = Array(24).fill(0);
// Grab all the hours when events occured
function eventsHour (dataEvents: EventData[]) {
	dataEvents.forEach((event) => {
		const hour = event.friendlyDate.slice(10,12);
		if (hour && hour[0]) {
			let returnedIndex = parseInt(hour);
			hoursInDay[returnedIndex] = (hoursInDay[returnedIndex] || 0) + 1;
		}
	});
}
eventsHour(dataEvents);
console.log(hoursInDay);

// import dataEventsStatic from "../../public/event-data.json";
// import APICard from '../components/APICard';
---

<Layout title="North Livermore Cares">
	<main>
		<h1>Test Page</h1>
		<div>
			{
				dataEvents.map((i) => 
					<ul>
						<li>{i.friendlyDate}</li>
						<li>{i.src}</li>
						<li>{i.length}</li>
						<li>{i.starred}</li>
					</ul>
				)
			}
		</ul>
		<!-- <ul>
			<li>
				<APICard />
			</li>
		</ul> -->
	</main>
	<footer>
		<p>Footer</p>
	</footer>
</Layout>

