---
import type CardContent from "../types/card.type";
const { content } = Astro.props;
---

<div class="card-group">
  <div class="card-group-wrapper">
    {
      content.map((data:CardContent) => 
        <div class="card">
          <p class="card-data">{data.data}</p>
          <p class="card-title">{data.title}</p>
          <p class="card-desc">{data.desc}</p>
        </div>)
    }
  </div>
  <div class="foot-note text-center">
    <!-- <h4>Footnotes</h4> -->
    {
      content.map((data:CardContent) => {
				if (data.footnote?.length) {
					return <p set:html={data.footnote} />
				}
			})
    }
  </div>
</div>
