---


---
<h2 class="text-center">Events By Date</h2>
<div id="events-by-date" class="graph-wrapper"></div>
<h2 class="text-center">Events By Hour</h2>
<div id="events-by-hour" class="graph-wrapper"></div>
<script>
	import './Graphs.client.js';
</script>
