---
import VideoPlaylist from './VideoPlaylist.astro';

interface VideoItem {
  title: string,
  length: string,
  thumbnail: string,
  src: string
}

interface Props {
  playlist: Array<VideoItem>
}

// const { playlist } = Astro.props;

---

<div class="video-wrapper">
  <video 
    id="video-player"
    poster="save-livermore.jpg"
    src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
    controls>
    Your browser does not support the video tag.
  </video>
  <!-- <VideoPlaylist content={playlist} /> -->
</div>

<script>
// Array of video sources
const videoPlayer = document.getElementById('video-player') as HTMLMediaElement;
let currentVideoIndex = 0;
const playlistElement = document.getElementById('playlist') as HTMLElement;

// Initialize the playlist UI
function initPlaylist() {
	const videoCards = playlistElement.getElementsByClassName('video-card');
  for (let videoCard of videoCards) {
    let videoSrc = videoCard.getAttribute('data-video-src');
    videoCard.addEventListener('click', () => {
      loadVideo(videoSrc as string);
      highlightActiveVideo(playlistElement);
      videoPlayer.play();
    });
  }
}

// Load video based on index
function loadVideo(videoSrc: string) {
  videoPlayer.src = videoSrc;
}

// // Highlight the active video in the playlist
function highlightActiveVideo(playlistElement: HTMLElement) {
  const items = playlistElement.querySelectorAll('li');
  items.forEach(item => item.classList.remove('active'));
  items[currentVideoIndex].classList.add('active');
}

// Event listener for ending the video
// videoPlayer.addEventListener('ended', () => {
//     currentVideoIndex = (currentVideoIndex + 1) % playlist.length; // Loop back to start
//     loadVideo(currentVideoIndex);
//     highlightActiveVideo();
//     videoPlayer.play();
// });

// Initialize the playlist
if (playlistElement) initPlaylist();
</script>
