---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta property="og:title" content={title}>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.livermore-fireworks.com">
    <meta property="og:image" content="https://www.livermore-fireworks.com/livermore-needs-help.jpg">
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <!-- <script defer src="https://www.livermore-fireworks.com/umami.js" data-website-id="c030c906-ce3b-4b64-986c-38c85d3abc02"></script> -->
  </head>
  <body>
    <slot />
  </body>	
</html>
